html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #84994e;
  padding: 0 50px;
}

.logo__text {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.logo__image {
  width: 80px;
  height: 100%;
}

.nav {
  background-color: white;
  border-bottom: 1px solid #ccc;
  padding: 15px 180px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  height: 25px;
}

.nav-list__item {
}

.nav-list__item:hover {
  border-bottom: 2px solid #84994e;
}
